body {
    background-color: #EADDCA;
}


.pfp {
    width: 200px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 100px;
    border: solid #2B2720;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    text-align: center;
    margin-top: 10px;
    color: #2B2720;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2B2720;
    text-align: center;
}

.ins {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    border: solid #2B2720;
    border-radius: 30px;
    background-color: #7C7265;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a { color: inherit; } 

.ins {
    opacity: 1;
    transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -webkit-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
}

.ins:hover {
    opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.youtube {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 30px;
    border: solid #2B2720;
    border-radius: 30px;
    background-color: #7C7265;
}

.youtube {
    opacity: 1;
    transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -webkit-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
}

.youtube:hover {
    opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 115px;
    font-weight: bold;
}

.discord {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 30px;
    border: solid #2B2720;
    border-radius: 30px;
    background-color: #7C7265;
}

.discord {
    opacity: 1;
    transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -webkit-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
}

.discord:hover {
    opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.steam {
    opacity: 1;
    transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -webkit-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
}

.steam:hover {
    opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.steam {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 30px;
    border: solid #2B2720;
    border-radius: 30px;
    background-color: #7C7265;
}


